<!DOCTYPE html>
<html>
  <head>
    <title>Timothy Browne</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="../assets/javascript/application.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Slabo+27px" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
